.carousel {
    text-transform: uppercase;

    .carousel-caption {
        top: 20%;
        text-align: left;
        h1 {
            font-size: 2.375rem;
            max-width: 26ch;
            text-shadow: 2px 2px rgba(0,0,0,0.4);
            margin-bottom: 1em;
        }
        .btn {
            background-color: $secondary-color;
            font-size: 1.2rem;
            color: $primary-color;
            font-family: "Lora", serif;
            padding: 15px 20px;
            border: 0;
            cursor: pointer;

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
                transition: 0.5s;
            }
        }
    }
}

.carousel-item {
    max-height: 473px;


}
